@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background: #212121;
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: #27ae60;
}
::selection {
  color: #ffffff;
  background: #27ae60;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  min-height: 100dvh;
  background: #171717;
  color: #ffffff;
}

/* reusable css start */
.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
  color: #828282;
  line-height: 20px;
}
/* reusable css end */

/* header start */
header {
  width: 100%;
  padding: 10px 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  background: #171717;
}

header .logo {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

nav ul li a {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #27ae60;
}

nav ul li a:active {
  color: #ffffff;
}

/* header end */

/* hero section start */
.hero {
  padding: 0 130px;
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 110px;
  align-items: center;
}

.hero-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-info h1 {
  text-align: left;
}

.hero-info p {
  margin-top: 9px;
}

.hero-info .hero-btns {
  margin-top: 35px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero-info .hero-btns button {
  padding: 12px;
  min-width: 143px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-info .hero-btns button:first-child {
  background: #27ae60;
  border: 1px solid #27ae60;
}

.hero-info .hero-btns button:first-child:hover {
  background: none;
}

.hero-info .hero-btns button:last-child {
  background: none;
  border: 1px solid #f2f2f2;
}

.hero-info .hero-btns button:last-child:hover {
  background: #27ae60;
  border: 1px solid #27ae60;
}

.hero-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image .img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  padding: 20px;
  border: 1px solid #363636;
}

.hero-image .img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
/* hero section end */

/* About section start */
.about {
  width: 100%;
  padding: 60px 130px;
}

.about-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text h1 {
  font-size: 48px;
  line-height: 50px;
}

.about-text p {
  text-align: center;
  margin-top: 40px;
}

.about-detail {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.about-detail_box {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-detail_box span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #27ae60;
}

.about-detail_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.about-detail_cart p {
  font-size: 18px;
}

/* about end */

/* service start */

.service {
  width: 100%;
  padding: 60px 130px;
}

.service h1 {
  text-align: center;
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
}

.service_card {
  width: 340px;
  display: flex;
  flex-direction: column;
  background-color: #212121;
  padding: 30px 40px;
}

.service_card h1 {
  margin-top: 29px;
  text-align: start;
  font-size: 36px;
  line-height: 38px;
  color: #535353;
}

.service_box {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* service section end */

/* skills section start */

.skills {
  width: 100%;
  padding: 60px 130px;
}

.skills h1 {
  font-size: 48px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.skills-container {
  margin-top: 70px;
  width: 100%;
  background: #212121;
  padding: 60px 8%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.skills-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-content p {
  font-size: 72px;
  line-height: 78px;
  font-weight: 700;
  color: #4f4f4f;
}

.skills-content span {
  font-size: 24px;
  line-height: 26px;
  font-weight: 700;
  color: #27ae60;
  text-transform: uppercase;
}

/* skills section end */

/* contact section start */

.contact {
  width: 100%;
  padding: 60px 130px;
}

.contact h1 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.contact form {
  margin: 80px auto 0;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contact form .form-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.contact form .form-group input {
  border: none;
  outline: none;
  padding: 10px 0;
  background: none;
  border-bottom: 1px solid #4f4f4f;

  font-size: 14px;
  font-weight: 700;
  color: #27ae60;
}

.contact form .form-group input:focus {
  border-bottom: 1px solid #27ae60;
}

.contact form .form-group input::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
}

.contact form textarea {
  width: 100%;
  height: 109px;
  padding: 10px 12px;
  background: none;
  outline: none;
  border: 1px solid #4f4f4f;
  resize: none;

  font-size: 14px;
  font-weight: 700;
  color: #27ae60;
}

.contact form textarea::placeholder {
  font-size: 14px;
  font-weight: 700;
  color: #4f4f4f;
}

.contact form textarea:focus {
  border: 1px solid #27ae60;
}

.contact form button {
  padding: 12px 30px;
  background: #27ae60;
  border: 1px solid #27ae60;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact form button:hover {
  background: none;
}

/* contact section end */

/* footer start */
footer {
  width: 100%;
  padding: 100px 130px;
}

footer p {
  font-size: 14px;
  font-weight: 500;
  color: #4f4f4f;
  text-align: center;
}
/* footer end */

header {
  display: none;
}

/* media queries start */

@media screen and (max-width: 1024px) {
  .service_box {
    gap: 20px;
  }
  .service_card {
    width: 280px;
    padding: 20px;
  }
}

@media screen and (max-width: 992px) {
  /* hero section start */
  .hero {
    padding: 0 60px;
    gap: 50px;
  }
  /* hero section end */

  /* about section start */
  .about {
    padding: 60px;
  }
  /* about section end */

  /* service section start */
  .service {
    padding: 60px;
  }
  /* service section end */

  /* skills section start */
  .skills {
    padding: 60px;
  }
  .skills-container {
    padding: 40px 4%;
    gap: 30px;
  }
  /* skills section end */

  /* contact section start */
  .contact {
    padding: 60px;
  }
  .contact form {
    width: 100%;
  }
  /* contact section end */

  /* footer start */
  footer {
    padding: 60px;
  }
  /* footer end */
}

@media screen and (max-width: 768px) {
  .hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .hero-image {
    width: 300px;
  }

  .hero-image .img {
    padding: 10px;
  }

  .hero-info {
    align-items: center;
  }

  .hero-info h1 {
    text-align: center;
  }

  /* service section start */
  .service_card {
    width: 40%;
  }

  .service_card img {
    height: 40px;
  }
  .service_card h1 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
  }
  /* service section end */
}

@media screen and (max-width: 576px) {
  /* hero section start */
  .hero {
    padding: 0 20px;
  }

  .hero-image {
    width: 250px;
  }

  /* reusable css start */
  .title {
    font-size: 36px;
    line-height: 40px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 18px;
  }
  /* reusable css end */

  .hero-info .hero-btns button {
    padding: 10px;
    min-width: auto;
  }
  /* hero section end */

  /* about section start */

  .about {
    padding: 40px 20px;
  }

  .about-text > h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .about-text > p {
    font-size: 16px;
    line-height: 18px;
    margin-top: 20px;
  }

  .about-detail {
    justify-content: center;
  }

  .about-detail_box {
    width: 40px;
    height: 40px;
  }

  .about-detail_box span {
    width: 8px;
    height: 8px;
  }

  .about-detail_cart p {
    font-size: 14px;
    line-height: 16px;
  }

  /* about section end */

  /* service section start */
  .service {
    padding: 40px 20px;
  }
  .service > h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .service_box {
    margin-top: 40px;
  }
  /* service section end */

  /* skills section start */
  .skills {
    padding: 40px 20px;
  }

  .skills > h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .skills-container {
    margin-top: 40px;
    padding: 30px 20px;
  }

  .skills-content p {
    font-size: 44px;
    line-height: 48px;
  }

  .skills-content span {
    margin-top: 10px;
    font-size: 16px;
    line-height: 18px;
  }
  /* skills section end */

  /* contact section start */
  .contact {
    padding: 40px 20px;
  }

  .contact form {
    margin-top: 40px;
  }

  .contact > h1 {
    font-size: 36px;
    line-height: 40px;
  }
  /* contact section end */

  /* footer start */
  footer {
    padding: 40px 20px;
  }
  /* footer end */
}

@media screen and (max-width: 430px) {
  /* service section start */
  .service_card {
    width: 100%;
  }
  /* service section end */

  .contact form {
    gap: 20px;
  }

  .contact form .form-group {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media screen and (max-width: 320px) {
  .hero-image {
    width: 200px;
  }
  .about-text > p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    word-break: break-all;
  }
}

/* media queries end */
